

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  padding: 10px 300px;
  gap: 20px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 18px;
  color: #28d0d6;
}

.logo img {
  width: 28px;
  height: 28px;
}


/* Barra de busca */
.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.search-box {
  display: flex;
  align-items: center;
  background: #e6e6e6;
  border-radius: 100px;
  padding: 14px 16px;
  width: 100%;
  max-width: 600px;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
  font-size: 14px;
  color: #333;
}

.search-box i {
  color: #555;
  cursor: pointer;
}

/* Ícones da direita */
.right-menu {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 14px;
}

.menu-item {
  display: flex;
  align-items: center;
  color: #222;
  transition: color 0.2s ease;
  background-color: transparent;
  border-radius: 100px;
  padding: 10px 20px 10px 12px;
}

.menu-item i {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 8px;
    background-color: transparent;
    padding: 8px 24px 8px 12px;
    border-radius: 999px;
    border: none;
    cursor: pointer;

}

.menu-item i {
  color: #a10e0e;
  font-size: 18px;
}

.menu-item span {
  font-size: 14px;
  font-weight: 400;
  
}

.menu-item strong {
  color: #000;
}

/* Hover */
.menu-item:hover {
  background-color: #d6282836;
  border-radius: 100px;
  padding: 10px 20px 10px 12px;
  
}

.introducao {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  padding: 10px 300px;
  gap: 20px;
}

.slogan1 {
  font-size: 45px;
  color: #169ec7;
  margin-bottom: -17px;
}

.slogan2 {
  font-size: 30px;
  color: #999;
}



.map-responsive{

    overflow:visible;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:250%;

    width:200%;

    position:absolute;

}

